@use "variables";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: variables.$text-clr;
  background-color: variables.$secondary;
  font-family: variables.$font-body;
  min-height: 100dvh;
  position: relative;
}

a {
  color: variables.$text-clr;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$font-headings;
}

button,
select,
label {
  font-family: variables.$font-body;
}
