$primary: #404c82;
$secondary: #f5f7fb;
$primary-dimmed: #7982a8;
$text-clr: #293264;

$line-clr: #dbdef0;
$answer-checked: #d6dbf5;
$answer-hover: #dee2f7;

$correct: #94d7a2;
$wrong: #f8bcbc;

$font-body: 'Inter', sans-serif;
$font-headings: 'Karla', sans-serif;
