* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
	color: #293264;
	background-color: #f5f7fb;
	min-height: 100vh;
}

a {
	color: #fff;
	text-decoration: none;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: relative;
}

.blob--left {
	position: absolute;
	bottom: 0;
	left: 0;
}

.blob--right {
	position: absolute;
	right: 0;
	top: 0;
}

.blob {
	width: 21rem;
	height: 21rem;
}

.btn {
	background-color: #4d5b9e;
	color: #f5f7fb;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	border: none;
	border-radius: 2rem;
	padding: 2rem 6rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover {
	background-color: #717cb1;
}
