.btn {
  display: inline-block;
  background-color: $primary;
  color: $secondary;
  font-weight: 500;
  font-size: 2.1rem;
  border: none;
  border-radius: 2rem;
  padding: 2rem 4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;

  &:focus-visible {
    outline: 0.3rem solid #000;
    outline-offset: 0.3rem;
  }

  &:hover {
    background-color: $primary-dimmed;
  }

  &:disabled {
    opacity: 0.5;

    &:hover {
      background-color: $primary;
    }
  }

  @media screen and (max-width: 50em) {
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 30em) {
    padding: 1.3rem 2.6rem;
    border-radius: 1.3rem;
    font-size: 1.6rem;
  }
}

.blob__left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.blob__right {
  position: absolute;
  right: 0;
  top: 0;
}

.blob {
  width: 20rem;
  height: 20rem;

  @media screen and (max-width: 50em) {
    width: 15rem;
    height: 15rem;
  }

  @media screen and (max-width: 30em) {
    width: 8rem;
    height: 8rem;
  }

  @media screen and (max-width: 27em) {
    width: 5rem;
    height: 5rem;
  }

  @media screen and (max-height: 15rem) {
    width: 7rem;
    height: 7rem;
  }
}

.blob__quiz {
  width: 13rem;
  height: 13rem;

  @media screen and (max-width: 80em) {
    width: 10rem;
    height: 10rem;
  }

  @media screen and (max-width: 30em) {
    display: none;
  }
}
