$primary: #4d5b9e;
$secondary: #f5f7fb;
$primary-dimmed: #717cb1;
$text-clr: #293264;

$line-clr: #dbdef0;
$answer-checked: #d6dbf5;
$answer-hover: #dee2f7;

$correct: #94d7a2;
$incorrect: #f8bcbc;

$font-body: 'Inter', sans-serif;
$font-headings: 'Karla', sans-serif;
