@media (max-width: 87em) {
  .answers {
    grid-template-columns: repeat(2, 1fr);
  }

  .blob {
    width: 14rem;
    height: 14rem;
  }

  .blob--quiz {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 60em) {
  .blob--quiz {
    width: 7rem;
    height: 7rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 2rem 4rem;
  }

  .welcome--category {
    max-width: 40rem;
  }
}

@media (max-width: 46em) {
  .answers {
    grid-template-columns: 1fr;
  }

  .quiz--controls {
    display: block;
  }

  .quiz--score {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .btn {
    display: block;
    margin: 0 auto;
    font-size: 1.6rem;
  }

  .question--text {
    font-size: 3rem;
    text-wrap: balance;
    text-align: center;
  }

  .answers label {
    font-size: 2rem;
  }

  .blob {
    width: 10rem;
    height: 10rem;
  }

  .welcome--category {
    font-size: 1.6rem;
    max-width: 30rem;
  }
}

@media (max-width: 30em) {
  .question--text {
    line-height: 1.2;
  }

  .blob {
    width: 7rem;
    height: 7rem;
  }

  .quiz--wrapper {
    max-width: 48rem;
    padding: 5rem 1rem 1rem 1rem;
    text-align: center;
  }

  .blob--quiz {
    display: none;
  }

  .welcome--category {
    font-size: 1.6rem;
    max-width: 20rem;
    padding: 1rem 0.5rem;
  }
}
